# docker-compose.yml
services:
  postgres:
    image: postgres:14
    container_name: django_postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env  # загружаем переменные для этого сервиса
    restart: unless-stopped


  pgadmin:
    image: dpage/pgadmin4
    container_name: django_pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com  # Установите свой email
      PGADMIN_DEFAULT_PASSWORD: admin         # Установите свой пароль
    ports:
      - "5050:80"  # pgAdmin будет доступен на порту 5050
    restart: unless-stopped
    depends_on:
      - postgres


  redis:
    image: redis:7-alpine
    container_name: django_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data: